<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.strayanimalrescueapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StrayAnimalRescueApp" >
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".UpdateSituation"
            android:exported="false" />
        <activity
            android:name=".UpdateTime"
            android:exported="false" />
        <activity
            android:name=".StrayAnimal1"
            android:exported="false" />
        <activity
            android:name=".StrayAnimal2"
            android:exported="false" />
        <activity
            android:name=".StrayAnimal3"
            android:exported="false" />
        <activity
            android:name=".StrayAnimal4"
            android:exported="false" />
        <activity
            android:name=".AnimalList"
            android:exported="false" />
        <activity android:name=".Report" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Donate" />
        <activity android:name=".Adopt" />
        <activity android:name=".Menu" />
        <activity android:name=".Register" />
        <activity android:name=".Claim" />
        <activity android:name=".Upload" />
        <activity android:name=".v_choice" />
        <activity android:name=".Login" />
        <activity android:name=".userchoice" />
        <activity android:name=".StrayAnimals"/>
        <activity android:name=".UploadStrayAnimal"/>
        <activity android:name=".AnimalDetails"/>
        <activity android:name=".AdoptUser"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>